.Mouse{
  font-family: "IBM Plex Sans KR", sans-serif;
  height: 600px;
  width: 100%;
  max-width: 840px;
  background-color: var(--white);
  margin: auto;
  justify-content: center;
  grid-template-columns: 1fr;

}

.head_whiteMouse{
  margin: 0 auto -20px auto;
  text-align: left;
  height: 100px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .h2{
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 700;
  }
  .radioButtons {
    display: flex;
    justify-content: right;
    width: 200px;
  }

  label{
    text-align: center;
  }

  input[type="radio"] {

    height: 16px; /* 원하는 크기로 조정 */
    width: 70px;
    cursor: pointer;
    //user-select: none; /* 선택 텍스트 방지 */
    padding-left: 25px; /* 원하는 간격으로 조정 */
    //-webkit-appearance: none;
    //-moz-appearance: none;
    //appearance: none;
    border-radius: 50%; /* 동그라미 모양을 유지하기 위해 */

    input[type="radio"]:checked {
    }
  }

  div > label{

  }
}

.MouseList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.box{
  width: 90%;
  font-family: "IBM Plex Sans KR", sans-serif;

  .title{
    width: 90%;
    text-align: right;
    font-size: 24px;
    font-weight: 700;
  }

  .selected{
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: left;
    text-align: center;
    padding-left: 10px;
    align-items: center;
    color: var(--black);
    font-size: 16px;
    margin : auto;
    background-color: var(--white);
    border: 3px solid var(--brand2_main);
    border-radius: 10px;
  }

  .selecting_list{
    button {
      width: 80%;
      height: 40px;
      display: flex;
      justify-content: left;
      text-align: center;
      padding-left: 10px;
      align-items: center;
      color: var(--font_gray_main);
      font-size: 16px;
      margin : 5px auto;
      background-color: var(--white);
      border: 3px solid var(--brand2_40);
      border-radius: 10px;
    }
  }
}
.problem{
  display: flex;
  width: 70%;
  height: 180px;
  align-items: center;
  flex-direction: column;

  margin: 20px auto;

  background-color: var(--brand1_20);
  border-radius: 10px;


  //============== 스크롤바 관련 (시작) ==============
  overflow-y: scroll;

  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  text-overflow: ellipsis;
  word-break: break-all;
  table-layout:fixed;

  &::-webkit-scrollbar {
    width: 9px;  /* 스크롤바의 너비 */
  }

  &::-webkit-scrollbar-thumb {
    height: auto; /* 스크롤바의 길이 */
    width: 7px;
    background: var(--brand1_40); /* 스크롤바의 색상 */

    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: var(--backGround_2);  /*스크롤바 뒷 배경 색상*/
    border-radius: 10px;
  }
  //============== 스크롤바 관련 (끝) ==============

  p {
    margin: 30px 20px 0 20px;
    font-size: 23px;
    font-weight: 600;
    text-align: center;
  }

  p:first-child {
    margin-top: 30px;
  }

  p:not(:first-child) {
    margin-top: 0px; /* 원하는 간격으로 조정 */
  }
}

.request{
  display: flex;
  width: 70%;
  height: 180px;
  justify-content: center;

  margin: auto;

  textarea{

    //============== 스크롤바 관련 (시작) ==============
    overflow-y: scroll;

    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    text-overflow: ellipsis;
    word-break: break-all;
    table-layout:fixed;

    &::-webkit-scrollbar {
      width: 9px;  /* 스크롤바의 너비 */
    }

    &::-webkit-scrollbar-thumb {
      height: auto; /* 스크롤바의 길이 */
      width: 7px;
      background: var(--brand1_40); /* 스크롤바의 색상 */

      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: var(--backGround_2);  /*스크롤바 뒷 배경 색상*/
      border-radius: 10px;
    }
    //============== 스크롤바 관련 (끝) ==============
    width: 100%;
    outline: 2px solid var(--brand1_main);
    border-radius: 10px;

    color: var(--font_gray_main);
    padding: 20px;
  }
}

.line{
  display: grid;
  justify-content: center;
  height: 0.5px;
  width: 750px;
  margin: auto;
  background-color: var(--brand1_40);
  stroke: var(--brand1_40);
  stroke-width: 2px;
  margin-bottom: 20px;

  position: relative;

  .mouse_img{
    width: 150px;
    position: absolute;
    left: -5%;
  }
}
.submit{
  display: flex;
  width: 90%;
  justify-content: right;

  .submit_button{
    margin-top: 10px;
    width: 100px;
    height: 40px;
    color: var(--white);
    font-weight: 700;
    background-color: var(--brand1_main);
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
}